<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    {% if messages %}
    {% for msg in messages %}
    {{msg}}
    {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <input name="username" type="text" placeholder="Username" required>
        <input name="password" type="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    <h2>don't have account <a href="{% url 'register' %}">Register</a></h2>
</body>

</html>